<!DOCTYPE html>
<html lang="en">
<head>
    <title>WTF is for Lunch?</title>
    <meta name="description" content="Ever wondered WTF is for lunch?">
    <meta name="author" content="Dan Foreman-Mackey">

    <meta property="fb:admins" content="100003390405427" />
    <meta name="viewport" content="width=device-width,initial-scale=0.6"/>

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />

    {% block hextra %}{% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="error-message">
        <div id="error-message-inner">
            <strong>Error</strong>: {{ messages[0] }}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <div id="footer">
        {% if g.user %}
        <a href="{{ url_for('login.logout') }}">Log the fuck out</a>
        or
        <a href="{{ url_for('.about') }}">read about what the fuck this is</a>.
        {% else %}
        Why don't you <a href="{{ url_for('login.index') }}">log the fuck in</a>
        or <a href="{{ url_for('.about') }}">read about what the fuck this is</a>?
        {% endif %}
    </div>

    <div id="foursquare">
        <a href="http://foursquare.com" target="_blank"><img src="{{ url_for("static", filename="4sq.png") }}"></a>
    </div>

    {% block scripts %}{% endblock %}
    {% include "analytics.html" ignore missing %}

</body>
</html>
