{% extends "base.html" %}

{% block hextra %}

<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}" />
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&sensor=false"></script>

{% endblock %}

{% block content %}

<div id="header">
    <div id="error">
        <strong>Error:</strong>
        <span id="error-message">This is an error.</span>
    </div>

    <div id="header-message">
        Did you ever end up going...
    </div>
</div>

<div id="supertitle">
    <div id="supertitle-inner">
        S'up dude.
    </div>
</div>

<div id="title">
    <div id="title-inner">
        Where the fuck are you?
    </div>
</div>

<div id="location">
    <form id="locform" action="javascript:WTF.geocode();">
        <input type="text" size="20" name="loc" id="loc" placeholder="City, Zipcode, etc."></input>
        <a id="location-icon" href="javascript:WTF.geolocate();"><i class="icon-map-marker"></i></a>
    </form>
    <div id="locconf">
        <span></span>?
        <a href="javascript:WTF.get_suggestion();">Yep</a>.
        <a href="javascript:WTF.wrong_address();">Nope</a>.
    </div>
</div>

<div id="subtitle">
    <div id="subtitle-inner">
        Subtitle.
    </div>
</div>

<div id="options">
    <div id="options-inner">
        Options.
    </div>
</div>

<div id="footer">
    <div id="footer-inner">
        <a href="{{ url_for("logout") }}">Log the fuck out.</a>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for("static", filename="wtf.js") }}"></script>

{% endblock %}
