{% extends "base.html" %}

{% block hextra %}

<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}" />
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&sensor=false"></script>

{% endblock %}

{% block content %}

<div id="header">
    <div id="error">
        <strong>Error:</strong>
        <span id="error-message">This is an error.</span>
    </div>

    {% if proposal %}
    <div id="header-message">
        Did you ever end up going to
        <a href="{{ proposal.url }}" target="_blank">{{ proposal.name }}</a>?
        <br>
        Yeah and it was <a href="javascript:WTF.report('{{ proposal._id }}', 2);">fucking awesome</a>
        / <a href="javascript:WTF.report('{{ proposal._id }}', 1);">not the best</a> or
        <a href="javascript:WTF.report('{{ proposal._id }}', 0);">hell no</a>.
    </div>
    {% endif %}

    <div id="status-message"></div>
</div>

<div id="supertitle">
  {% if user %}Hi {{ user.fullname }}.{% else %}Hello stranger. Why don't you
  <a href="{{ url_for("login") }}">log the fuck in</a>?{% endif %}
</div>

<div id="title-wrapper">
    <div id="title">
        Where the fuck are you?
    </div>
</div>

<div id="location">
    <form id="locform" action="javascript:WTF.geocode();">
        <input type="text" size="15" name="loc" id="loc" placeholder="City, Zipcode, etc."></input>
        <a id="location-icon" href="javascript:WTF.geolocate();"><i class="icon-map-marker"></i></a>
    </form>
    <div id="locconf">
        <span></span>?
        <a href="javascript:WTF.get_suggestion();">Yep</a>.
        <a href="javascript:WTF.wrong_address();">Nope</a>.
    </div>
</div>

<div id="subtitle">
</div>

<div id="options">
    <ul>
        <li><a href="javascript:WTF.accept();">Fuck yeah!</a></li>
        <li><a href="javascript:WTF.reject();">Not today.</a></li>
        <li><a href="javascript:WTF.blacklist();">Hell no.</a></li>
    </ul>
</div>

<div id="info">
    <div id="info-inner"></div>
    <a id="map-link" href="" target="_blank"><div id="map-img"></div></a>
</div>

<div id="yelp-logo">
    <a href="http://foursquare.com" target="_blank"><img src="{{ url_for("static", filename="4sq.png") }}"></a>
</div>


<div id="footer">
    {% if user %}<a href="{{ url_for("logout") }}">Log the fuck out.</a>
    {% else %}<a href="{{ url_for("login") }}">Log the fuck in.</a>{% endif %}
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for("static", filename="wtf.js") }}"></script>

{% endblock %}
