/*                   *
 *   BASIC STYLES    *
 *                   */

body {
    margin: 0;
    padding: 0;
    padding-bottom: 150px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #222;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:hover {
    color: #0E5C9E;
}


/*                   *
 *   SCAFFOLDING     *
 *                   */

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#error {
    padding: 8px;
    background: #9d261d;
    border-bottom: 1px solid #600;
    color: #eee;
    text-align: center;
    display: none;
}

#header-message {
    padding: 12px;
    background: #eee;
    border-bottom: 1px solid #aaa;
    font-size: 0.9em;
    text-align: center;
    display: none;
}

#status-message {
    padding: 30px 10px;
    background: #eee;
    border-bottom: 1px solid #aaa;
    text-align: center;
    font-weight: 600;
    font-size: 22pt;
    display: none;
}

#supertitle, #title, #info, #subtitle, #options, #location {
    font-weight: 600;
    padding: 0.5em 0;
    margin: 0 50px;
    line-height: 1;
}

#supertitle, #subtitle, #options, #location {
    font-size: 26pt;
}

#supertitle {
    margin-top: 125px;
}

#title {
    font-size: 72pt;
}

#title-wrapper {
}

#info {
    display: none;
    position: absolute;
    padding: 15px 20px;
    background: #ddd;
    border: 1px solid #222;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#info-inner {
    height: 30px;
    padding: 0;
}

#info-inner span, #info-inner img {
    display: block;
    float: left;
}

#info-inner img {
    margin-top: 1px;
    padding-left: 10px;
}

#map-img {
    display: block;
    width: 400px;
    height: 200px;
    border: 1px solid #222;
    clear: both;
}

#info-categories {
    margin-top: 15px;
    font-weight: 300;
    font-style: italic;
}

#location-icon {
    display: none;
}

#locconf {
    display: none;
}

#subtitle, #options {
    display: none;
}

#options {
    line-height: 1.2;
}

#options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#options ul li {
    margin: 0;
    padding: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background: #eee;
    border-top: 1px solid #aaa;
    font-size: 0.9em;
    text-align: center;
}


/*                   *
 *   LOCATION FORM   *
 *                   */

form {
    display: inline;
}

input[type="text"] {
    outline: none;
    border: 0;
    border-bottom: 1px solid #222;
    padding: 3px 5px;
    margin: 0 10px;
}
