{% extends "base.html" %}

{% block content %}

<h1>Taking the guesswork out of lunch.</h1>
<p>By <a href="http://dan.iel.fm">Dan</a>.</p>

<h2>What the fuck does this do?</h2>
<p>It helps you choose what to have for lunch (and other meals, I guess).
Then, it learns <a href="http://www.youtube.com/watch?v=pY8jaGs7xJ0">what
you're into</a> and gets smarter.</p>

<h2>Why the fuck do I have to sign in?</h2>
<p>So that we can learn what you're into and suggest better restaurants.
Suck it up. Also, we won't ever use your name or email for anything other
than saying "hi" on the page and sending you directions. Promise.</p>

{% endblock %}
