<!DOCTYPE html>
<html lang="en">
<head>
    <title>WTF is for Lunch?</title>
    <meta name="description" content="">
    <meta name="author" content="Dan Foreman-Mackey">

    <link rel="icon" href="{{ url_for('.static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('.static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static', filename='screen.css') }}" />

</head>

<body>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-36276799-1']);_gaq.push(['_trackPageview']);
        (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    </script>

</body>
</html>
