{% extends "base.html" %}

{% block content %}

{% if visit %}
<div id="header">
    <p>Yo. Did you end up going to <a href="{{ visit.resto.url }}" target="_blank">{{ visit.resto.name }}</a> on {{ visit.date.strftime('%b %d') }}?<br>
    <span>Yeah and it was <a href="javascript:update_visit('{{ visit._id }}',2)">fucking great</a> / <a href="javascript:update_visit('{{ visit._id }}',1)">total shit</a> or <a href="javascript:update_visit('{{ visit._id }}',0)">fuck no</a>.</span></p>
</div>
{% endif %}

<p>Hi {{ user.fullname }}.</p>

<p id="loading">Be patient… we're loading your fucking lunch preferences.</p>

<div id="location">
    <h1>Where the fuck are you?</h1>
    <form id="locform" action="javascript:update_location();">
        <p>
            I'm in <input type="text" size="20" name="loc" id="loc" placeholder="City, Zipcode, etc."></input>.
        </p>
    </form>
    <p id="locconf"><span></span>? <a href="javascript:send_request()">Yep</a>. <a href="javascript:loc_error()">Nope</a>.</p>
    <p id="usegeo"><a href="javascript:usegeo()">Use your computer's current location.</a></p>
</div>

<div id="error">
    <h1></h1>
    <p></p>
    <div class="options">
        <ul>
            <li><a href="javascript:send_request();">Try again.</a></li>
        </ul>
    </div>
</div>

<div id="lunch">
    <p id="prefix"></p>
    <h1></h1>
    <p>is on the fucking menu for lunch.</p>
    <p id="havefun">Enjoy. <a href="javascript:send_request();">Get another suggestion.</a></p>
    <div class="options">
        <ul>
            <li><a href="javascript:fuckyeah();">Fuck yeah.</a></li>
            <li><a href="javascript:send_request('no');">Hell no.</a></li>
        </ul>
    </div>
</div>

<div id="footer">
    <p><a href="{{ url_for(".logout") }}">Get me the fuck outta here.</a></p>
</div>

<div id="google-banner">
    <img src="{{ url_for(".static", filename="google.png") }}">
</div>

{% endblock %}

{% block scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&sensor=true"></script>
<script src="{{ url_for(".static", filename="zepto.min.js") }}"></script>
<script src="{{ url_for(".static", filename="locate.js") }}?v4"></script>

{% endblock %}
